#navbar {
  overflow: hidden;
  background-color: #7D7D7D;
  position: sticky;
  left: 0px;
  top: 0px;
}

#navbar a {
  left: 0px;
  top: 0px;
  float: left;
  display: block;
  color: #FEFEFE;
  text-align: center;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
}
